<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://travelsv-api-evh8hsetcfgra2h5.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>0f3b569d-7a14-4ba5-a242-4f99963f2175</ProjectGuid>
    <PublishUrl>https://travelsv-api-evh8hsetcfgra2h5.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$travelsv-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>